*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* 
.tasto{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    

} */



.big{
    display: none;
}



:root{
    /* var(--h-header) */
    --h-header: 70px; 
}
header{
    width: 100%;
    height: var(--h-header);
    
    background-color: #f8f9fa;
    
    display: flex;
    align-items: center;
    
}
header .row{
    
    
    padding: 0;
    width: 100%;
    min-height: 50px;
    

    display: flex;
    align-items: center;

    background-color: white;
    
}
.ms-logo{
     
    padding: 0;
    width: var(--w-sinistra);
    display: flex;
    justify-content: center;
}


.ms-img-logo{
    height: 50px;
    width: 50px;
    object-fit: cover;
}



:root{
    /* var(--color-search) */
    --color-search: #e1e1e1;
}
.ms-search{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    
    
    border-radius: 5px;
    background-color: var(--color-search);
}


.ms-search i{
    margin-right: 10px;

}
#ms-input{
    background-color: var(--color-search);
    width: 100%;
    border: 0px;
}


header .tasto{
    
    width: 30px;
    height: 30px;
    color: #5b5858;
    

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: darkgreen; */
}

.ms-90px{
    
    width: 90px;
    padding: 0;
    
}




.campana{
    color: orange;
    margin-right: 10px;
    /* background-color: crimson; */
}

.cerchio{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5b5858;
    color: white;
    font-size: 10px;
    padding: 0;
}
.cerchio i{
    margin: 0;
}








:root{
    /* var(--h-main) */
    --h-main: calc(100vh - var(--h-header)); 
}
main{
    height: var(--h-main);
    

    background-color: darkgoldenrod;
}

:root{
    /* var(--w-sinistra) */
    --w-sinistra: 70px; 
}
#sinistra{
    height: 100%;
    padding: 10px 0;
    width: var(--w-sinistra);

    background-color: #051e34;
}


#sinistra .tasto{
    height: 30px;
    width: 70%;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sinistra .tasto:hover{
    
    background-color: rgba(255, 255, 255, 0.525);
}

#sinistra .tasto i{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}


#sinistra .big{
    margin-left: 10px;
    font-size: 12px;
    width: 50px;
    
}

#destra{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: calc(100% - var(--w-sinistra));

    background-color: #f8f9fa;
}

.ms-blu-top{
    
    width: 100%;
    background-color: #1b72e8;
    color: white;

    /* debug */
}


/* .ms-blu-top p, .ms-blu-top h3{    
    margin: 0;
    
    
} */

/* .row.path{
    height: 30px;
} */
span.path{
    /* width: 80px; */
    height: 15px;
    font-size: 10px;
    
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
}

.row.path{
    width: 100%;
    /* background-color: #e81be1; */
}

:root{
    /* var(--h-riga1) */
    --h-riga1: 100px; 
}
.ms-h-riga1{
    height: var(--h-riga1);

}


:root{
    /* var(--h-riga2) */
    --h-riga2: calc(var(--h-main) - var(--h-riga1)); 
}
.ms-h-riga2{
    height: var(--h-riga2);

}




.ms-scroll{
    overflow-y: scroll;

}

.ms-card{
    margin: 10px 0;
    width: 95%;
    

    
}



:root{
    /* var(--color-grigio) */
    --color-grigio: rgb(159, 159, 159); 
}
.ms-card-top{
    border: 1px solid var(--color-grigio);
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    
    border-bottom: 0;
    

}
.ms-card-top h4{
    margin-left: 10px;
    

}



.ms-card-bottom{
    border: 1px solid var(--color-grigio);
    border-radius: 0 0 10px 10px;
    background-color: white;

}
.ms-card-full{
    border: 1px solid var(--color-grigio);
    border-radius: 10px;
    background-color: white;

}

.ms-card ul{
    padding: 0 10px;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grigio);
    min-height: 40px;
}




.ms-colonna1 .ms-card li:last-child{
    
    border: 0;
}


.ms-dettagli{
    width: 500px;
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;
    
    
}

.ms-dettaglio{
    width: 100px;
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */

    /* background-color: aqua; */
    /* border: 1px solid red; */
    
}

.ms-colonna2 ul{
    width: 95%;
    margin: 10px 0;
}
.ms-colonna2 li{
    font-size: 0.8em;
    font-weight: 600;
    padding: 0 10px;
    border: 1px solid var(--color-grigio);
    overflow-x: hidden;
}
.ms-colonna2 li:first-child{
    border-radius: 5px 5px 0 0;
}
.ms-colonna2 li:last-child{
    border-radius: 0 0 5px 5px;
}


h3, h4, h5{
    margin: 0;
    padding: 0;
    font-weight: 550;

}

#img-grafico{
    width: 100%;
    height: auto;
}


h5.path{
    line-height: 30px;
    vertical-align: middle;
}
/* responsive 
****************************************************** */




@media screen and (max-width: 674px){    
    .ms-disappear1{
        display: none;
    }
    
}


@media screen and (max-width: 838px){    
    .ms-disappear2{
        display: none;
    }
    
}


 @media screen and (min-width: 992px){   
        
    :root{
        /* var(--w-sinistra) */
        --w-sinistra: 130px; 
    }

    
    .small{
        display: none;
        
    }
    
    .big{
        display: flex;
        
    }

    

    .ms-h-riga2>*{
        height: var(--h-riga2);
        overflow-y: scroll;
    }

    
    .ms-img-logo{
        height: 100%;
        
        width: 100%;
        object-fit: contain;
    }


    
 }

