
:root{
    /* var(--h-header) */
    --h-header: 150px;
    /* var(--w-barra-l) */
    --w-barra-l: 100px;
    /* var(--color-main) */
    --color-main: #f8f9fa;
    /* var(--h-main) */
    --h-main: calc(100vh - var(--h-header));
    
    
}

header{
    width: 100%;
}

main{

    margin-top: var(--h-header);
    height: var(--h-main);

    margin-left: var(--w-barra-l);
    width: calc(100vw - var(--w-barra-l));
    
    overflow: scroll;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: var(--color-main);




    /* debug */
    /* background-color: rgb(168, 55, 81); */

}







/* responsive 
****************************************************** */


 @media screen and (min-width: 768px){
    main>*{
        max-height: var(--h-main);
        overflow: scroll;
    }
 }

